body {
    background-color: #171b37 !important;
    color: #fff !important;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
    color: inherit;
}

a:hover {
    color: #b4cbff !important;
}

button {
    background-color: #dc1f52 !important;
    color: white;
    border: none !important;
}

.purp {
    background-color: #aa173e !important;
}

button:hover {
    background-color: #b4cbff !important;
    color: #171b37 !important;
}
